<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :picture, as: :file %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :posted_date %>
    <%= f.input :expiry_date %>
<<<<<<< HEAD
=======

>>>>>>> d3fe4a23227c3ece41399469052121332a62fbea
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
